@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Playfair+Display:wght@700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track{
	box-shadow: inset 0 0 5px rgb(243, 165, 165); 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb{
	background: #D9D9D9; 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
	background: #fda6a6; 
}
.all{
	margin-left: 90px;
}
.body{
	outline: none;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'DM Sans', sans-serif;
	position: fixed;
	height: 100%;
}
.bar{
	background: #d9d9d9;
}
nav{
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	background: #fff;
	width: 90px;
	overflow: hidden;
	z-index: 1;
	transition: width 0.2s linear;
}
.list a{
	position: relative;
	color: #ca5a6d;
	font-size: 15px;
	display: block;
	width: 300px;
	padding: 10px;
	padding-top: 80px;
	padding-bottom: 80px;
}
.list i{
	position: relative;
	width: 70px;
	height: 40px;
	top: 14px;
	font-size: 20px;
	text-align: center;
}
.nav-item{
	position: relative;
	top: 12px;
	margin-left: 10px;
}
.list a:hover{
	background: #d9d9d9;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 60rem;
	position: absolute;
}
.content{
	text-align: center;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	user-select: none;

}
.content h1{
	font-size: 50px;
	font-family: 'Playfair Display', serif;
	color: #f8f3f3;
}
.content p{
	font-size: 18px;
	font-family: 'DM Sans', sans-serif;
	line-height: 1.8;
    padding:1rem 0;
	color: #f8f8f8;
}
.content .button{
	height: 35px;
	width: 140px;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	font-family: 'DM Sans', sans-serif;
	color: #ee8888;
	border: 1px solid #d3d3d3;
	background: none;
	outline: none;
	cursor: pointer;
}
.content .button:hover{
	background: #c04d4d;
	color: #f0f3f0;
	font-weight: bold;
	font-family: 'DM Sans', sans-serif;
}
.about{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #f1aeae;
}
.about img{
	height: 600px;
	width: auto;
}
.about-text{
	width: 550px;
	color: #9b777a;
}
.about-text h2{
	color: #b94048;
	font-family: 'Playfair Display', serif;
	font-size: 60px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text p{
	color: #6e242e;
	line-height: 45px;
	font-family: 'DM Sans', sans-serif;
	font-size: 20px;
	margin-bottom: 45px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;	
}
.folio{
	background-color: #D9D9D9;
}
.title{
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	color: #d67f8a;
	text-align: center;
	padding-top: 20px;
}
.wrapper{
	width: 100%;
}
.wrapper .container{
	padding-top: 10px;
	padding-bottom: 80px;
}
.wrapper .container .hero-section{
	width: 80%;
	margin: 0px auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}
.wrapper .container .hero-section .gallery{
	width: 100%;
	position: relative;
}
.wrapper .container .hero-section .gallery .image-section{
	width: 100%;
}
.wrapper .container .hero-section .gallery .image-section img{
	width: 100%;
	height: auto;
	border: 1px solid #6e242e;
	padding: 5px;
	display: block;
}
.caption p, a{
	text-decoration: none;
	color: #D9D9D9;
	font-family: 'DM Sans', sans-serif;
	font-size: 18px;
}
.wrapper .container .hero-section .gallery .caption {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 15px;
	top: 0;
	left: 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	background: #6b1c30;
	opacity: 0;
	transition: opacity 0.30s;
}
.wrapper .container .hero-section .gallery .caption:hover{
	opacity: 1;
}
@media screen and (max-width: 992px){
	.wrapper .container .hero-section{
		grid-template-columns: repeat(2, 1fr);
	}
}
.contact{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contact .inside{
	max-width: 800px;
	text-align: center;
}
.contact .inside h2{
	font-family: 'Playfair Display', serif;
	color: #af465d;
	font-size: 60px;
	padding: 40px;
}
.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	font-family: 'DM Sans', sans-serif;
}
.container .contactInfo{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container .contactInfo .box{
	position: relative;
	padding: 25px 160px;
	display: flex;
}
.container .contactInfo .box .icon{
	min-width: 60px;
	height: 60px;
	background: #D9D9D9;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.icon{
	color: #f3929f;
}
.text{
	padding-left: 20px;
}
.container .contactInfo .box .text{
	font-weight: 500;
	color: #6e242e;
}
.contactForm{
	width: 40%;
	padding: 40px;
	border: 3px solid #D9D9D9;
}
.contactForm h2{
	font-size: 18px;
	color: #bb6486;
}
.contactForm .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactForm .inputBox input, 
.contactForm .inputBox textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #807676;
	outline: none;
	resize: none;
}
.contactForm .inputBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #D9D9D9;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
	color: #ff9f9f;
	font-size: 12px;
	transform: translateY(-20px)
}
.button{
	width: 100px;
	background: #923b3b;
	color: #fffafa;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 15px;
	letter-spacing: 1px;
	text-decoration: none;
}
.button:hover{
	background: #D9D9D9;
	color: #e977b0;
}
.link{
	display: grid;
	height: 100%;
	width: 100%;
	padding: 20px;
}
.rapper .btn{
	display: inline-block;
	height: 30px;
	width: 30px;
	font-family: 'DM Sans', sans-serif;
	margin: 0 5px;
	overflow: hidden;
	background: #D9D9D9;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-out;
}
.con i{
	color: #979090;
}
.rapper .btn:hover{
	width: 120px;
}
.rapper .btn .con{
	display: inline-block;
	height: 30px;
	width: 30px;
	text-align: center;
	border-radius: 100px;
	box-sizing: border-box;
	line-height: 30px;
	transition: all 0.3s ease-out;
}
.rapper .btn:nth-child(1):hover .con{
	background: #253b6b;
}
.rapper .btn:nth-child(2):hover .con{
	background: #e082ae;
}
.rapper .btn:nth-child(3):hover .con{
	background: #000000;
}
.rapper .btn .con i{
	font-size: 10px;
	line-height: 20px;
	transition: all 0.3s ease-out;
}
.rapper .btn:hover .con i{
	color: #D9D9D9;
}
.rapper .btn span{
	font-size: 10px;
  	line-height: 20px;
  	margin-left: 10px;
 	transition: all 0.3s ease-out;
}
.rapper .btn:nth-child(1)
	span{color: #253b6b;}

.rapper .btn:nth-child(2)
	span{color: #E1306C;}

.rapper .btn:nth-child(3)
	span{color: #000000;}

.input-group span{
	position: absolute;
	bottom: 20px;
	right: 25px;
	font-size: 14px;
	color: red;
}

#submit-error {
	color: red;
}
